extends ../shared/template

block content

  #badges-container

    ul#badge-list
      li
        img(src='/img/assets/badges/badge-1.png')
      li
        img(src='/img/assets/badges/badge-2.png')
      li
        img(src='/img/assets/badges/badge-3.png')
      li
        img(src='/img/assets/badges/badge-4.png')
      li
        img(src='/img/assets/badges/badge-5.png')
      li
        img(src='/img/assets/badges/badge-6.png')
      li
        img(src='/img/assets/badges/badge-7.png')
      li
        img(src='/img/assets/badges/badge-4.png')
      li
        img(src='/img/assets/badges/badge-2.png')
      li
        img(src='/img/assets/badges/badge-5.png')
      li
        img(src='/img/assets/badges/badge-4.png')
      li
        img(src='/img/assets/badges/badge-3.png')
      li
        img(src='/img/assets/badges/badge-1.png')
      li
        img(src='/img/assets/badges/badge-7.png')
