form(action='/groups/create', method='post')
  input(type='text', name='name', autofocus='true' placeholder='Group Name')
  .clear
  textarea(name='description')
  .clear
  button#create-group Create Group
