extends ../shared/template

block content

  #map-canvas
  #map-filter
    form
      select
        option Arts
        option History
        option Parks
      button#submit Filter Locations
  #controls-container
    #controls
      #checkin-primary
        a(href='#')
          img(src='/img/assets/primary-checkin.svg')

  .clear


block scripts
