extends ../shared/template

block content

  #map-canvas
  #controls-container
    #controls
      #checkin-primary
        a(href='#')
          img(src='/img/assets/primary-checkin.svg')
      //- #nearby-quests
      //-   .nearby-quest
      //-     p.nearby-title A quest is near!
      //-   .nearby-quest
      //-     p.nearby-title Another quest is near!
      //-   .nearby-quest
      //-     p.nearby-title A third quest is near!


block scripts
